# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

my_ai_env/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Database
# ==========================================

*.db
*.sqlite3

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/

# ==========================================
# Build
# ==========================================

build/
dist/